<<<<<<< HEAD
h1{
    color: #2E86C1;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

p{
    font-size: 16px;
    line-height: 1.5;
    color: blue;
    margin: 10px 0;
=======
h1{
    color: #2E86C1;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

p{
    font-size: 16px;
    line-height: 1.5;
    color: blue;
    margin: 10px 0;
>>>>>>> 8e8b5c7ae6a6748ef0452a4f3beb316e3ef7ebdc
}